:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border-top: 1px solid #bdbdbd;
}

.input-group {
  flex: 1;
  display:flex;
  flex-direction: column;
}

input.ng-untouched,
textarea.ng-untouched {
  border: 1px solid green;
}

input.ng-pristine,
textarea.ng-pristine {
  border: 1px solid orange;
}

input.ng-valid,
textarea.ng-valid {
  border: 1px solid blue;
}

input.ng-invalid,
textarea.ng-invalid {
  border: 1px solid red;
}

.alert {
  background: red;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

